.login-container {
  min-width: 550px;
  position: relative;
  height: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  min-height: 500px;
  background-color: #eeeeee;
  background-image: url("../../assets/images/login_bg.svg");
  background-position: 50%;
  background-size: 100% 100%;
  background-size: cover;
  &-SwitchDark{
    position: absolute;
    right: 70px;
    top: 40px;
  }

  .login-box {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    background-color: hsl(0deg 0% 100% / 80%);
    height: 100%;
    width: 100%;
    padding: 30px;
    .login-left {
      width: 800px;
      img {
        width: 100%;
      }
    }
    .login-form {
      width: 420px;
      padding: 50px 40px 45px;
      border-radius: 10px;
      box-shadow: 2px 3px 7px rgb(0 0 0 / 20%);
      .el-form-item {
        margin-bottom: 40px;
      }
      .form-cons {
        margin: 20px 0 0 0;
        .el-button {
          width: 185px;
        }
        
      }
      .login-logo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 40px;
        img {
          width: 60px;
          height: 52px;
        }
        h2 {
          padding: 0 0 0 25px;
          margin: 0;
          font-size: 42px;
          font-weight: bold;
          color: #34495e;
          white-space: nowrap;
        }
      }
    }
  }
}
:deep(.el-form-item__content) {
  justify-content: space-between;
}
